
div {
  background-color: #00000086;
}
.mybutton {
  background-color:rgba(211, 29, 29, 0);
}

.header {
  background-color: #000000;
  width:  960px;
  
  margin: auto;
  height: 250px;
  
  
  

}
.form {
  color:#453a3a;
  border: 1px solid rgba(255, 255, 255, 0);
  
  
  background-color: black;
  background-position: center ;
  
  overflow: hidden;
  width:  960px;
  
  padding-top: 500px;
  
  height: 1500px;
  margin: auto;
}
.projects {
  color:#453a3a;
  border: 1px solid rgba(255, 255, 255, 0);
  
  
  background: url('projects.jpg');
  background-position: center ;
  
  overflow: hidden;
  width:  960px;
  
  margin: auto;
  height: 1450px;

}
.pharagraph {
  background-color: #ffffff;
  width:  960px;
  height: 1600px;
  
  margin: auto;
  border: 1px solid rgba(0, 128, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  
  text-align: center;
}
.pharagraph2 {
  background-color: #ffffff;
  width:  750px;
  height: 1400px;
  text-align: left;
  padding: 0px;
  
  margin: 100px;
  border: 1px solid rgba(0, 128, 0, 0);
  
  
  

}
.contact {
  background-color: #ffffff;
  width:  960px;
  
  
  margin: auto;
  border: 1px solid rgba(0, 128, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.building {
  color:#453a3a;
  border: 1px solid rgba(255, 255, 255, 0);
  
  
  background: url('building.jpg');
  background-position: center ;
  
  overflow: hidden;
  width:  960px;
  
  margin: auto;
  height: auto;

  
}
.modul {
  color:rgb(164, 164, 164);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  text-align: center;
  font-size: 60px;
  padding-top: 35px;
  font-weight: 300;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.5s; /* Задержка перед началом */
}

@keyframes show{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
  }


.anim-show{
  width:300px;
  background:#176387;
  color:#fff;
  font-size:25px;
  border:3px solid #2BA2DB;
  padding:20px;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s; /* Задержка перед началом */
  }
.phone {
  color:rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  text-align: center;
  font-size: 60px;
  
  font-weight: bold;
  padding: 0 20px 0 20px;
  
  height: 80px;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.5s; /* Задержка перед началом */
}
.logo-picture {
  color:#453a3a;
  border: 1px solid rgba(255, 255, 255, 0);
  
  
  background: url('logo.jpg');
  background-position: center ;
  
  overflow: hidden;
  width:  960px;
  
  margin: auto;
  height: 1450px;
}


button {
  width: 700px;
  height: 100px;
  margin: 10px 130px 10px 130px;
  background-color: #bdbdbd;
  font-size: 30px;
  background-color: black;
  color: white;
}

h1 {
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
p {
  font-size: 60px;
}

input {
  width: 700px;
  height: 100px;
  margin-left:  130px;
  margin-top: 20px;
  font-size: 60px;
  
}
.mysubmit {
  width: 707px;
  height: 100px;
  margin-top: 50px;

}

.buildfoto {
  background-color: #000000;
  width:  960px;
  
  
  margin: auto;
  border: 1px solid rgba(0, 128, 0, 0);
  padding-top: 0;
  padding-bottom: 0px;

  
}

.butt {
  font-size: 40px;
  color:rgb(164, 164, 164);
}

.on-hover{
  width:300px;
  background:#176387;
  color:#fff;
  font-size:25px;
  border:3px solid #2BA2DB;
  padding:20px;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
  }
  .hidden-block{
  width:300px;
  background:#176387;
  color:#fff;
  font-size:25px;
  border:3px solid #2BA2DB;
  padding:20px;
  margin:auto;
  text-align:center;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  }

  .on-hover:hover+ .hidden-block{
    opacity:1;
    transition: 1s;
    
    }

    #div {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: 1s ease-in-out;
    }
     
    #sosed:hover ~ #div {
      height:auto;
      opacity: .5;
    }


    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}